.header {
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.header button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 10px;
}