<div>
  <p class="title">
    {{ job.title }}
  </p>
  <table>
    <tr>
      <td>Job Description</td>
      <td>: {{ job.description }}</td>
    </tr>
    <tr>
      <td>Office Location</td>
      <td>: {{ job.location.lat }}, {{ job.location.lng }}</td>
    </tr>
    <tr>
      <td>Salary</td>
      <td *ngIf="isLoggedIn">: {{ job.salary | currency }}</td>
      <td *ngIf="!isLoggedIn">: <span class="color-red">Log in to see salary!</span></td>
    </tr>
    <tr>
      <td>Experience</td>
      <td>: {{ job.experience }} year(s)</td>
    </tr>
    <tr>
      <td>Skills Required</td>
      <td>: {{ job.skills.join(", ") }}</td>
    </tr>
    <tr>
      <td>Posted at</td>
      <td>: {{ job.postDate | date: "dd MMMM YYYY" }}</td>
    </tr>
  </table>

  <button *ngIf="isLoggedIn"
    class="btn btn-danger mt-4"
    (click)="deleteJob(job._id)">
    Delete
  </button>
</div>